.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-left: 10px;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-style: normal;
}
.img-fluid {
    max-width: 100%;
    height: 50px;
}
.navbar{
    max-height: auto;
}    

/* Overriding Bootstrap styles with increased specificity */
.navbar-nav .nav-item.active .nav-link {
    color: #ffffff; /* White color for active links */
}

.navbar-nav .nav-item .nav-link {
    color: #888888; /* Grey color for inactive links */
}

nav .h4 {
    color:#ffffff
}